html, body {
  height: 100%;
  width: 100%;
  background-color: #161616;
}
 h1.maintitle {
  font-family: Times New Roman, serif; 
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
   }

    h2.subtitle {
  font-family: Times New Roman, serif; 
  font-size: 20px;
  margin-top: 0px;
  padding-top: 0px;
   }

    div {
      color: #FFFFFF;
    }

  a{
      color: #FFFFFF;
    }

  div.header {
      background-color: #101010;
      padding: 20px;
      text-align: center;
      vertical-align: top;
      width: 100%;
    }


    div.footer {
      width: 100%;
      background-color: #090909;
      padding: 20px;
      text-align: center;
      vertical-align: bottom;
    }
